body {
    background: #005CEE;
    color: #212529;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

.header-section {
    background-image: url('./../images/wave.png');
    background-size: cover;
    background-position: bottom;
    color: #ffffff;
    padding-top: 1.5rem;
    padding-bottom: 8rem;
    position: relative;
    z-index: 1;
}

.header-section .container {
     background-color: transparent;
}

.header-section .row.align-items-center.mb-3 {
    margin-bottom: 2rem !important;
}

.h5, h1 {
    font-weight: normal;
    color: #ffffff;
}

.header-section .text-muted {
    font-size: .9rem;
    color: rgba(255, 255, 255, 0.8) !important;
}

.row.mb-4 {
    margin-bottom: 3rem !important;
}

.btn.d-flex.flex-column {
    padding: 1rem;
    border-radius: .5rem;
    border: none;
    font-size: .9rem;
}

.btn-primary {
    background-color: #0d6efd;
}

.btn-light {
    background-color: #ffffff;
    color: #212529;
}

.btn .bi {
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.main-content {
    background-color: transparent;
    margin-top: -6rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    padding-bottom: 2rem;
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
}

.main-content .container {
     background-color: transparent !important;
}

.main-content .row,
.main-content .col{
    background-color: transparent !important;
}


.card-content {
    background-color: transparent ;
    z-index: 3;
}

.card {
    background-color: transparent;
    border: none;
    border-radius: .75rem;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}

.card .card-body {
    padding: 1rem;
}

.card .card-title {
    font-size: 1rem;
    color: #6c757d;
}

.card .card-text {
    font-size: 1.4rem;
    font-weight: bold;
}

.card.bg-success {
    background-color: #2ecc71 !important;
}

.card.bg-success .card-title,
.card.bg-success .card-text,
.card.bg-success .bi {
    color: #ffffff !important;
}
.list-section {
    padding: 1rem;
    flex-grow: 1;
    overflow-y: auto;
    margin-top: 0;
    color: transparent;
}

.list-section .row {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid #ddd;
}

.list-section .row.header {
    border-bottom: 2px solid #005CEE;
    font-weight: bold;
    color: #6c757d; /* cinza do cabeçalho */
    font-size: 0.9rem;
}

.list-section .row > div {
    flex-basis: 20%; /* cada coluna com 20% da largura total */
    padding: 0 0.5rem;
    overflow-wrap: break-word;
    color: #212529; /* texto escuro */
    font-size: 0.9rem;
}

.list-section .row.list-item {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 .05rem .1rem rgba(0, 0, 0, .05);
    margin-bottom: 0.5rem;
}

.list-section .row.list-item > div {
    color: #212529;
}

.list-section .text-success {
    color: #198754 !important;
    font-weight: bold;
}

.list-section .text-danger {
    color: #dc3545 !important;
    font-weight: bold;
}

.list-item {
    background-color: #ffffff;
    border-radius: .5rem;
    padding: .75rem;
    margin-bottom: 0;
    box-shadow: 0 .05rem .1rem rgba(0, 0, 0, .05);
    display: flex;
    align-items: center;
    flex-grow: 1;
    text-align: center;
    justify-content: center;
    height: 100%;
}

.list-item p {
    margin-bottom: 0;
    font-size: .9rem;
    flex-grow: 0;
}

.list-item .text-success {
    color: #2ecc71 !important;
    font-weight: bold;
}

.list-item .text-danger {
    color: #dc3545 !important;
    font-weight: bold;
}

.text-success {
    color: #198754 !important;
}

.text-danger {
    color: #dc3545 !important;
}

.profile-photo {
    width: 60px;
    height: 60px;
}
